

<div  class="container color-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
               <div class="row">
                   <div class="col-g-12 col-md-12 col-sm-12 col-xs-12">
                      <h2 class="text-center "><img src="css/image/logo.png" class="center" /></h2>
                  </div>
                  <div class="col-g-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="login-container">
                    <div class="white  margin30">LOGIN</div>
                    <form id="login" method="post">
                        <div class="white margin30 light"> 
                       <span class="opacity"> Nome Utente </span>
                       <input type="text" name="name" class="input-text" ng-model="user.username" /> 
                       </div>
                       <div class="white  margin30 light">
                       <span class="opacity"> Password </span>
                        <input type="password" name="password" class="input-text" ng-model="user.password"  />
                        </div>
                        <input type="submit" class="input button red" value="ACCEDI" ng-click="login()">
                    </form>
                </div>    
            </div>
                  </div>
              </div>

          </div>
         <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2 color-body" ></div>
      </div>

