<!DOCTYPE html>
<html>
<head>
  <!-- ANGGULAR JS -->
  <script type="text/javascript" src="js/angular/angular.min.js"></script>
  <!-- ANGULAR ROUTE -->
  <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/config/route.js"></script>
  <script type="text/javascript" src="app/controller/loginController.js"></script>
  <script type="text/javascript" src="app/controller/indexcontroller.js"></script>
  <script type="text/javascript" src="app/controller/artistcontroller.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/image.css">
  <link rel="stylesheet" type="text/css" href="css/color.css">
</head>
<body  ng-app="app">
  <div class="table-head navBar" ng-if="showBar">
    <div class="table-row">
      <div class="table-cell bar"> 
        <div class="col-xs-12">USER</div>
        <div class="col-xs-12">superuser</div>
      </div>
      <div class="table-cell">
        <button class="logout buttonlogout"></button>
      </div>
    </div>
  </div>
  <div class="table-head main">
    <div class="table-cell sideBar bar alignTop" ng-if="showBar">
     <div class="table-head top5" ng-repeat="navButton in navBarButtons" ng-href="{{navButton.href}}"> 
       <div class="table-cell artist" ng-show="$root.navButtonSelected != {{$index}}">
         <img src="{{navButton.imgOff}}">
       </div>
       <div class="table-cell artist" ng-show="$root.navButtonSelected == {{$index}}">
         <img src="{{navButton.imgOn}}">
       </div>
       <div class="table-cell">
         {{navButton.name}}
       </div>
     </div>
   </div>

   <div class="table-cell redBackgroung">
    <ng-view></ng-view>
  </div>
</div>
</div>
</body>
</html>