.logo{
	background-image: url(image/logo.png);
	background-repeat: no-repeat;
	height: 200px;
}

.artist{
	background-image: url(image/artist_off.png);
	height: 30px;
	width: 30px;
}

.logout{
	background-image: url(image/logout.png);
	height: 40px;
	width: 40px;
}