@font-face {
      font-family: 'Scala-BoldItalic';
      src: url('fonts/Scala-BoldItalic.otf');
      src: local('Scala-Bold'), url('fonts/Scala-BoldItalic.otf') format('truetype');
    }

    @font-face {
      font-family: 'Scala-Italic';
      src: url('fonts/Scala-Italicn.otf');
      src: local('Scala-Italic'), url('fonts/Scala-Italic.otf') format('truetype');
    }

html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	color: #f8f8f8;
	font-family: 'Scala-Italic';
}


.table-head {

	display: table;
	width: 100%;
}

.table-cell {

	display: table-cell;
	vertical-align: middle;
	padding: 0px;
}

.table-row {

	display: table-row;
}

.bold{
	font-family: 'Scala-BoldItalic'
}

.light{
	font-family: 'Scala-Italic'
}

.navBar{
	height: 50px;
	background-color: #e40404;
}

.bar{
	width: 20%;
	border-right: 1px solid  #8b0000;
}

.main{
	height: 100%;
}

.center{
	margin: auto;
	display: block;
}

.width20{
	width: 20%
}

.container{
	width: 100%;
	height: 100%;
}

.login-container {
	margin-top: 70px;
	padding: 30px 25px;
}
.login-container h2 {
	color:#FFF;
}
.login-form {
	margin-top: 0px;
}
.input-text {
	width:100%;
	padding: 6px;
	background-color: rgba(255,255,255,0);
	border: none;
	border-bottom: 2px solid #fff;
}

.button {
	border: 2px;
	background-color: #fff;
	border-radius: 25px;
	width: 200px;
	padding: 6px;
	margin-left: auto;
	margin-right: auto;
	color: #F8F8F8;
	margin-top: 20px;
	margin-bottom: 10px;
	float: none;
	position: relative;
	display: block;
}

.margin30 {
	margin-bottom: 30px;
}

.top5{
	margin-top: 5px
}

.alignTop{
	vertical-align: top;
}

.buttonlogout{
	border: none;
    background-color: transparent;
    float: right;
}

.opacity{
	opacity: 0.5;
}